.cart-checkbox{
	
}
.concent{
	margin-top: 20px;	
}
.cart-head{
	background-color: #f3f3f3;
}
.cart-head li{
	float: left;
	height: 40px;
	line-height: 40px;
}
.cart-head{
	border: 1px solid #e9e9e9;
}
.price-original{
	text-decoration: line-through;
}
.td-info{
	/*border:1px solid #16C2C2;*/
}
.item-content{
	border:1px solid #f3f3f3;
	padding-bottom: 20px;
}
.td-amount li input[type="text"]{
	width: 100%;
	text-align: center;
	float: right;
	margin-top: 4px;
}
.td-amount button{
	background-color: #FFFFFF;
	outline: none;
	border: 1px solid #DDDDDD;
}
.price-line .price-now{
	color:#E4393C;
}
.cart-bottom{
	background-color: #f3f3f3;
	border:1px solid #e9e9e9;
	height: 40px;
	line-height: 40px;
}
.cart-bottom{
	
}
