body{
	background-color: #f8f8f8;
}
.center{
	
}
aside>ul{
	margin-top: 23px;	border-top:4px solid #FEC4D7;
	background-color: #FFFFFF;
}
li.person{
	padding: 10px 10px;
}
li.person:first-child{
	font-size: 15px;
}
li.person:not(:first-child){
	border-top: 1px solid #F5F8FA;
}

li.person>ul>li:first-child{
	font-weight: bold;
}
li.person>ul>li:not(:first-child)>a{
	color: #666;
}
li.person>ul>li{
	padding: 5px 0px;
}
#centerTabContent{
	margin-top: 23px;
	background-color: #FFFFFF;
}
.center-title{
	padding: 20px 0 16px 15px;
	border-bottom: 1px solid #EEE;
}
.center-title>div>b{
	font-size: 20px;
}
