/* 个人信息 */
.user-infoPic{position: relative;border-bottom:1px solid #E4EAEE;padding: 40px 0 40px 0px;}
.filePic{text-align: center;}
.filePic>img{
	width: 50%;
}
.inputPic{ cursor:pointer;height:100%;position: absolute;width: 50%;left: 30%;opacity: 0;}
.info-m{
	margin-top: 20px;
}
.info-m div a{
	color:#666;
}
.info-m>div{
	padding: 4px 0;
}
.info-main{
	padding: 20px 0 8px 0;
}
/*修改信息*/
.birth-select,.birth-select2 {float:left; margin-right:5px; vertical-align:middle;}
.birth-select select{float:left; width:60px;background: none;border:none ;padding-top:9px ;}
.birth-select2 select{float:left; width:40px;background: none;border: none;padding-top:9px ;}


.user-info{width:100%; max-width:900px;overflow:hidden;padding-bottom: 2px;}
.user-safety{width:100%; max-width:900px;overflow:hidden;}

/*安全设置*/
.check a{text-decoration: none;}
.check ul li:nth-child(1) div span{color:#E4393C;}
.check ul li:nth-child(2) div span{color:#888888;}
.check ul li:nth-child(3) div span{color:#609CE3;}
.check ul li:nth-child(4) div span{color:#F69954;}
.check ul li:nth-child(5) div span{color:#16C2C2;}
.check ul li:nth-child(6) div span{color:#B6D700;}
.m-left h4{font-weight: bold;font-size: 16px;}

.user-safety .check .fore1 {width:80px;font-size: 14px; font-weight:bold; line-height:21px;padding-top:8px ;}

.user-safety .check .fore3 {text-align:center;font-size: 12px; float:right; line-height:21px;}

.check ul li span.iconfont{font-size: 30px;}
.check ul li {padding: 14px 0;}
.safe-modify{margin-top: 10px;background-color: #3bb4f2; color: #FFFFFF;text-align: center;padding: 2px 0;}

/*地址*/
.address{
	position: relative;
	margin-top: 20px;
	padding-bottom: 8px;
}
.address>li{position: relative; border:1px solid #EEE;}
.address .default-address{display:none;position: absolute;right: 0px;background-color: #ee3495;color:#FFF;border-radius: 4px;padding: 1px 6px;cursor: pointer;}
.address li>div:not(:first-child){padding:6px 0px;}
.address li>div:nth-child(2)>span{
	padding: 0px 4px;
	color:#0087E5;
}
.address li>div:nth-child(3)>span:first-child{
	color:#E4393C;
}
.address>li:hover .default-address{
	display: block;
}
.address .iconfont.icon-edit{
	color:#16C2C2;
}
.address .iconfont.icon-delete{
	color:#E4393C;
}
.address .iconfont.icon-selected{
	display: none;
}
.address .default-active .iconfont.icon-selected{
	display: block;
	position: absolute;
	right: 6px;
	bottom: 0;
	color: #419641;
	font-size: 20px;
	font-weight: bold;
}
.address li.default-active{
	border:1px solid #EECCCC;
}
.add-address form{
	padding-top: 28px;
}
.add-address form div select{
	width: 31%;
	float: left;
}
.add-address form div select:not(:first-child){
	margin-left: 3%;
}